@using GoKartCR.Entities
@model GoKartCR.Entities.PaqueteRespuesta;
@{
    Layout = "_LayoutAdmin";
}

@*
    public int idPaquete { get; set; } = 0;
    public string nombre { get; set; } = String.Empty;
    public string descripcion { get; set; } = String.Empty;
    public int costo { get; set; } = 0;
    public TimeSpan tiempoOfrecido { get; set; }
    public int cantidadUsuarios { get; set; } = 0;
    public byte[] imagen { get; set; }
    public int idPista { get; set; } = 0;
    public string nombrePista { get; set; } = String.Empty;

    //crre una tabla con los datos de los paquetes
*@
<div class="card">
    <h2>Paquetes</h2>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col text-end">
            <button class="btn btn-success m-2" data-bs-toggle="modal"
                    data-bs-target="#modalAgregarPaquete">
                +Agregar
            </button>
        </div>
    </div>
    <table class="table" id="tablapaquetes">
        <thead>
            <tr> 
                <th>IdPaquete</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Costo</th>
                <th>Tiempo Ofrecido</th>
                <th>Cantidad de Usuarios</th>
                <th>Imagen</th>
                <th>Pista</th>
                <th>TipoGoKart</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listaDePaquetes)
            {

                var base64 = Convert.ToBase64String(item.imagen);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                <tr>
                     <td>@item.idPaquete</td>
                    <td>@item.nombre</td>
                    <td>@item.descripcion</td>
                    <td>@item.costo</td>
                    <td>@item.tiempoOfrecido</td>
                    <td>@item.cantidadUsuarios</td>
                    <td><img src="@imgSrc" height="200px" width="200px" /></td>
                    <td>@item.idPista</td>
                    <td>@item.idGoKart</td>
                    <td>
                        <button class="btn btn-warning btnEditarPaquete" id="btnEditarPaquete">Editar</button>
                        <button class="btn btn-danger">@Html.ActionLink("Eliminar", "DeletePaquete", new { idPaquete=item.idPaquete, @class="btn btn-danger" })</button>
                    </td>
                </tr>
            }
        </tbody>
</div>


<div class="modal fade" id="modalAgregarPaquete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Paquete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AgregarPaquete", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        @Html.TextBox("Nombre","",
                    new
                    {
                    @class="form-control",
                    @type="text",
                    })
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        @Html.TextBox("Descripcion","",
                    new
                    {
                    @class="form-control",
                    @type="text",
                    })

                    </div>
                    <div class="form-group">
                        <label for="costo">Costo</label>
                        @Html.TextBox("Costo","",
                    new
                    {
                    @class="form-control",
                    @type="number",
                    })

                    </div>
                    <div class="form-group">
                        <label for="tiempoOfrecido">Tiempo Ofrecido</label>
                        @Html.TextBox("TiempoOfrecido","",
                    new
                    {
                    @class="form-control",
                    @type="time",
                    })

                    </div>
                    <div class="form-group">
                        <label for="cantidadUsuarios">Cantidad de Usuarios</label>
                        @Html.TextBox("CantidadUsuarios","",
                    new
                    {
                    @class="form-control",
                    @type="number",
                    })

                    </div>
                    <div class="form-group">
                        <label for="imagen">Imagen</label>
                        @Html.TextBox("file","",
                    new
                    {
                    @class="form-control",
                    @type="file",
                    @name="file"
                    })
                    </div>
                    <div class="form-group">
                        <label for="idPista">Pista</label>
                        @Html.TextBox("idPista","",
                    new
                    {
                    @class="form-control",
                    @type="number",
                    })
                    <label for="idPista">TipoGoKart</label>
                        @Html.TextBox("idGoKart","",
                    new
                    {
                    @class="form-control",
                    @type="number",
                    })

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalEditarPaquete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Paquete</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditarPaquete", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label for="nombre">IdPaquete</label>
                        @Html.TextBox("idPaquete","",
                    new
                    {
                    @class="form-control",
                    @type="text",
                    @id="idpaqueteEditar"
                    })
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        @Html.TextBox("Nombre","",
                    new
                    {
                    @class="form-control",
                    @type="text",
                    @id="nombreEditar"
                    })
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        @Html.TextBox("Descripcion","",
                    new
                    {
                    @class="form-control",
                    @type="text",
                    @id="descripcionEditar"
                    })

                    </div>
                    <div class="form-group">
                        <label for="costo">Costo</label>
                        @Html.TextBox("Costo","",
                    new
                    {
                    @class="form-control",
                    @type="number",
                    @id="costoEditar"
                    })

                    </div>
                    <div class="form-group">
                        <label for="tiempoOfrecido">Tiempo Ofrecido</label>
                        @Html.TextBox("TiempoOfrecido","",
                    new
                    {
                    @class="form-control",
                    @type="time",
                    @id="tiempoOfrecidoEditar"
                    })

                    </div>
                    <div class="form-group">
                        <label for="cantidadUsuarios">Cantidad de Usuarios</label>
                        @Html.TextBox("CantidadUsuarios","",
                    new
                    {
                    @class="form-control",
                    @type="number",
                    @id="cantidadUsuariosEditar"
                    })

                    </div>
                    <div class="form-group">
                        <label for="imagen">Imagen</label>
                        @Html.TextBox("file","",
                    new
                    {
                    @class="form-control",
                    @type="file",
                    @name="file"
                    })
                    </div>
                    <div class="form-group">
                        <label for="idPista">Pista</label>
                        @Html.TextBox("idPista","",
                    new
                    {
                    @class="form-control",
                    @type="number",
                    @id="idPistaEditar"
                    })
                    <label for="idPista">TipoGoKart</label>
                        @Html.TextBox("idGoKart","",
                    new
                    {
                    @class="form-control",
                    @type="number",
                    @id="idGoKartEditar"
                    })

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
