
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoKartCR</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GoKartCR.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/aos.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tooplate-gymso-style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/sweetalert2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NavAdmin.css" asp-append-version="true" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css' asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/css/datatables.min.css"/>
</head>

  @{
    var Nombre = Context.Request.Cookies["Nombre"];

    var Rol = Context.Request.Cookies["Rol"];

    if (Rol == "1")
    {
        //si la cookie existe
        //mostrar el nombre del usuario
        //<div class="nameuser" href=""> Bienvenido @Nombre </div>
    }
    else
    {

        //redireccionar al home si no existe la cookie
        <script>
            window.location.href = "@Url.Action( "Index", "Home")";
        </script>


    }
}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">GoKartCr</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                    <li class="nav-item">
                    <li class="nav-item">
                        <a href="@Url.Action("preguntasFrecuentes", "Administrador")" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Preguntas Frecuentes</span>
                        </a>
                    </li>

                    
                    <li class="nav-item">

                        <a href="@Url.Action("AgregarAdministrador", "Administrador")" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Control de Usuarios</span>

                        <a href="@Url.Action("Paquetes","Administrador")" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Paquetes</span>

                        </a>
                    </li>

                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            @RenderBody()
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/smoothscroll.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/aos.js"></script>
<script src="~/js/sweetalert2.js"></script>
<script src="~/js/navAdmin.js"></script>
<script src="~/js/datatables.min.js" type="text/javascript"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


@{
    string classAlerta = string.Empty;
}

@if (TempData["Mensaje"] != null)
{
    <script>
        var data = "@TempData["Mensaje"].ToString()"
        var data2 = data.split(".");
        console.log(data2)
          Swal.fire(
          data2[0],
          '',
          data2[1]
        )
    </script>

    TempData["Mensaje"] = null;
}
@await RenderSectionAsync("Scripts", required: false)
</html>
