@using GoKartCR.Entities
@model GoKartCR.Entities.ReservaAPagarRespuesta;

<div class="bg-overlay"></div>

@{
    decimal sumaTotalSinIVA = 0;
    decimal sumaTotalConIVA = 0;
}

@using (Html.BeginForm("realizarCompra", "Compras", FormMethod.Post))
{
    <div class="container hero2 mb-5 d-flex flex-column">
        <div class="row">
            <div class="col-9">
                <div class="card">
                    <h2>Paquetes reservados</h2>

                    <div class="mt-4">

                        @if (Model != null)
                        {

                            @if (Model.idCodigo == 0)
                            {

                                <table class="table table-striped">
                                    <thead>

                                        <tr>
                                            <th scope="col">Id reserva</th>
                                            <th scope="col">Fecha para el evento</th>
                                            <th scope="col">Descripcion Paquete</th>
                                            <th scope="col">Tiempo del Paquete</th>
                                            <th scope="col">Cantidad usuarios ofrecido por el paquete</th>
                                            <th scope="col">Costo Paquete sin IVA</th>
                                            <th scope="col">Costo Paquete con IVA</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var reserva in Model.reserverAPagar)
                                        {

                                            <tr>

                                                <td>@reserva.idReserva</td>
                                                <td>@reserva.fecha</td>
                                                <td>@reserva.descripcionPaquete</td>
                                                <td>@reserva.tiempoOfrecidoPaquete</td>
                                                <td>@reserva.cantidadUsuariosPaquete</td>
                                                <td>₡@reserva.costoPaqueteSinIVA</td>
                                                <td>₡@reserva.costoPaqueteConIVA</td>

                                                @{
                                                    sumaTotalSinIVA = reserva.costoPaqueteSinIVA + sumaTotalSinIVA;
                                                    sumaTotalConIVA = reserva.costoPaqueteConIVA + sumaTotalConIVA;
                                                }

                                            </tr>

                                        }

                                    </tbody>
                                </table>
                            } else if (Model.idCodigo==1)
                            {
                                
                                <h2>@Model.mensaje</h2>

                            } else if(Model.idCodigo==1){

                                <h2>No se pudo realizar la compra... Contactar con soporte.</h2>

                            } else{

                                <h2>Hay conexión con el API, pero el API no puede conectar con la base de datos.</h2>

                            }

                    }
                        else
                        {

                            <h2>Error a la hora de conectar con el API.</h2>

                        }

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h2>Cuentas</h2>
                    <div class="mt-4">
                        <div class="row">
                            <div class="col">Costo Inicial</div>
                            <div class="col">

                                ₡@sumaTotalSinIVA

                            </div>
                        </div>
                        <div class="row">
                            <div class="col">IVA</div>
                            <div class="col">13%</div>
                        </div>
                        <div class="row">
                            <div class="col">Nombre</div>
                            <div class="col">@Context.Request.Cookies["Nombre"]</div>
                        </div>
                        <div class="row">
                            <div class="col">Precio Final</div>
                            <div class="col">

                                ₡@sumaTotalConIVA

                            </div>
                        </div>
                        <button type="submit" class="form-control botonResreva btn-evio" id="submit-button" name="realizarCompra">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
